body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  background: #f4f6fb;
}

header {
    background: #0d2c54;
    color: white;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

table, th, td { 
    border: 1px solid black; 
}